**/bin
**/obj
*.min.js
*.suo
*.user
*.vsix
*~
/src/compiler/WebSharper.Core/netstandardtypes.txt
**/Scripts/WebSharper/
**/Content/WebSharper/
/tests/WebSharper.SPA.Tests/Content/
/build/
/packages/
/paket-files/
/tools/packages/
/tests/Web/downloads/
/msbuild/AssemblyInfo.fs
/.hg
/.vs
/msbuild.log
.fake
/.vscode/
/tests/WebSharper.SPA.Tests/Content/*
/netcore/
/netfx/
