**/bin
**/obj
*.min.js
*.suo
*.user
*.vsix
*~
IntelliFactory.WebSharper.JQuery/*.js
**/Scripts/WebSharper/
**/Content/WebSharper/
/build/
/packages/
/paket-files/
/tools/packages/
/tests/Web/downloads/
/msbuild/AssemblyInfo.fs
/.hg
/.fake
/.paket/paket.exe
/.vs/config
/.vscode/
/msbuild.log