**/bin
**/obj
*.min.js
*.suo
*.user
*.vsix
*~
IntelliFactory.WebSharper.JQuery/*.js
**/Scripts/WebSharper/
**/Content/WebSharper/
/tests/WebSharper.SPA.Tests/Content/
/build/
/packages/
/paket-files/
/tools/packages/
/tests/Web/downloads/
/msbuild/AssemblyInfo.fs
/.hg
/.vs
/msbuild.log
/.fake
/.paket/paket.exe
/.vscode/
/tests/WebSharper.SPA.Tests/Content/*
/tests/WebSharper.SPA.Tests/dummy.ts
