<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" />
  <package id="FSharp.Core.3" version="0.0.2" />
  <package id="Mono.Cecil" version="0.9.5.4" />
  <package id="AjaxMin" version="4.84.4790.14417" /> 
  <package id="IntelliFactory.FastInvoke" version="0.0.2" />
</packages>

