framework: net40, net45
source https://www.nuget.org/api/v2

nuget FAKE
nuget Mono.Cecil == 0.9.6.1
nuget Microsoft.CodeAnalysis.CSharp
nuget FSharp.Compiler.Service prerelease
nuget AjaxMin
nuget FSharp.Core ~> 4.0.0.1
