/* See http://twitter.github.com/bootstrap/examples/sticky-footer-navbar.html */

html, body {
    height: 100%;
}

#wrap > .container {
    padding-top: 60px;
}

div#fork {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
}

#footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #ddd;
    font-size: smaller;
}
