<configuration>
  <!-- NOTE: uncomment the following to run on F# 3.1 -->
  <!--<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding></runtime>-->
  <system.web>
    <!-- NOTE: remove debug="true" to serve compressed JavaScript -->
    <compilation debug="true" targetFramework="4.0" />
    <!-- This is only needed for VS Development WebServer. IIS/IIS Express do not use this:-->
    <httpModules>
      <add name="WebSharper.RemotingModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WebSharper.RemotingModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets" />
    </modules>
    <!-- This is only needed for VS Development WebServer (see above). IIS/IIS Express do not use this: -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
