<configuration>
  <system.web>
    <!-- NOTE: remove debug="true" to serve compressed JavaScript -->
    <compilation debug="true" targetFramework="4.0" />
    <!-- This is only needed for VS Development WebServer. IIS/IIS Express do not use this:-->
    <httpModules>
      <add name="WebSharper.RemotingModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WebSharper.RemotingModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="IntelliFactory.WebSharper.Sitelets.HttpModule, IntelliFactory.WebSharper.Sitelets" />
    </modules>
    <!-- This is only needed for VS Development WebServer (see above). IIS/IIS Express do not use this: -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
