<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target
          name="logfile"
          xsi:type="File"
          fileName="log.txt"
          archiveFileName="log.{#}.txt"
          archiveNumbering="Date"
          archiveEvery="Day"
          archiveDateFormat="yyyyMMdd"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
