type file
id WebSharper.Testing
authors IntelliFactory
licenseUrl http://websharper.com/licensing
projectUrl http://websharper.com
description
    Testing framework for C#/F#-to-JavaScript compiled libraries
tags
    Web JavaScript F# C#
dependencies
    WebSharper == CURRENTVERSION
files
    ../build/Release/netstandard2.0/WebSharper.Testing.dll ==> lib/netstandard2.0
    ../build/Release/netstandard2.0/WebSharper.Testing.xml ==> lib/netstandard2.0
    ../build/Release/net461/WebSharper.Testing.dll ==> lib/net45
    ../build/Release/net461/WebSharper.Testing.xml ==> lib/net45
