type file
id WebSharper.CSharp
authors IntelliFactory
licenseUrl http://websharper.com/licensing
projectUrl http://websharper.com
description
    C#-to-JavaScript compiler
tags
    Web JavaScript C#
dependencies
    WebSharper == CURRENTVERSION
files
    ../msbuild/WebSharper.CSharp.targets ==> build
    ../build/Release/CSharp/net461/ZafirCs.exe ==> tools
    ../build/Release/CSharp/net461/ZafirCs.exe.config ==> tools
    ../build/Release/CSharp/net461/WebSharper.Compiler.dll ==> tools
    ../build/Release/CSharp/net461/WebSharper.Compiler.CSharp.dll ==> tools
    ../build/Release/CSharp/net46/WebSharper.MSBuild.CSharp.dll ==> tools
    ../build/Release/FSharp/net461/WebSharper.Sitelets.Offline.dll ==> tools
    ../build/Release/CSharp/net461/WebSharper.Core.dll ==> tools
    ../build/Release/CSharp/net461/WebSharper.Core.JavaScript.dll ==> tools
    ../build/Release/CSharp/net461/WebSharper.InterfaceGenerator.dll ==> tools
    ../build/Release/CSharp/net461/FSharp.Core.dll ==> tools
    ../build/Release/CSharp/net461/Mono.Cecil.dll ==> tools
    ../build/Release/CSharp/net461/Mono.Cecil.Mdb.dll ==> tools
    ../build/Release/CSharp/net461/Mono.Cecil.Pdb.dll ==> tools
    ../build/Release/CSharp/net461/Microsoft.CodeAnalysis.dll ==> tools
    ../build/Release/CSharp/net461/Microsoft.CodeAnalysis.CSharp.dll ==> tools
    ../build/Release/CSharp/net461/netstandard.dll ==> tools
    ../build/Release/CSharp/net461/System.Collections.dll ==> tools
    ../build/Release/CSharp/net461/System.Collections.Immutable.dll ==> tools
    ../build/Release/CSharp/net461/System.Console.dll ==> tools
    ../build/Release/CSharp/net461/System.Globalization.dll ==> tools
    ../build/Release/CSharp/net461/System.IO.dll ==> tools
    ../build/Release/CSharp/net461/System.IO.FileSystem.dll ==> tools
    ../build/Release/CSharp/net461/System.Linq.dll ==> tools
    ../build/Release/CSharp/net461/System.Reflection.dll ==> tools
    ../build/Release/CSharp/net461/System.Reflection.Metadata.dll ==> tools
    ../build/Release/CSharp/net461/System.Reflection.Primitives.dll ==> tools
    ../build/Release/CSharp/net461/System.Resources.ResourceManager.dll ==> tools
    ../build/Release/CSharp/net461/System.Runtime.dll ==> tools
    ../build/Release/CSharp/net461/System.Runtime.Extensions.dll ==> tools
    ../build/Release/CSharp/net461/System.Runtime.InteropServices.dll ==> tools
    ../build/Release/CSharp/net461/System.Runtime.Numerics.dll ==> tools
    ../build/Release/CSharp/net461/System.Security.Cryptography.Algorithms.dll ==> tools
    ../build/Release/CSharp/net461/System.Security.Cryptography.Primitives.dll ==> tools
    ../build/Release/CSharp/net461/System.Text.Encoding.dll ==> tools
    ../build/Release/CSharp/net461/System.Text.Encoding.Extensions.dll ==> tools
    ../build/Release/CSharp/net461/System.Threading.dll ==> tools
    ../build/Release/CSharp/net461/System.Threading.Tasks.dll ==> tools
    ../build/Release/CSharp/net461/System.ValueTuple.dll ==> tools
    ../build/Release/CSharp/net461/System.Xml.XDocument.dll ==> tools
    ../src/compiler/WebSharper.CSharp.Analyzer/install.ps1 ==> tools
    ../src/compiler/WebSharper.CSharp.Analyzer/uninstall.ps1 ==> tools
    ../build/Release/CSharp/net461/netstandard.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/Microsoft.Extensions.DependencyModel.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/Microsoft.DotNet.PlatformAbstractions.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/FSharp.Core.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/Mono.Cecil.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/Mono.Cecil.Mdb.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/Mono.Cecil.Pdb.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.Core.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.Core.JavaScript.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.InterfaceGenerator.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.Compiler.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.Compiler.CSharp.dll ==> analyzers/dotnet/cs
    ../build/Release/CSharp/netstandard2.0/WebSharper.CSharp.Analyzer.dll ==> analyzers/dotnet/cs
