<!-- Configure the tutorial browser at websharper.com/tutorials.
     Attributes:
          @key: the URL suffix used after /docs/ to refer to the page (will be escaped)
          @title: the title of the page, used in the sidebar
          @src: the input file for the given page
-->
<folder>
  <section title="Web Development">
    <page key="piglet-suggestions"
      title="Piglet with Suggestions"
      src="https://raw.githubusercontent.com/intellifactory/websharper/websharper4/docs/pigletsAC.md"
      description="Learn how to build an auto updating combobox
               with Piglets"
          />
     <page key="domjs-wig"
      title="DOM.js in WIG"
      src="https://raw.githubusercontent.com/intellifactory/websharper/websharper4/docs/domjs-wig.md"
      description="Learn how to use WIG
               with a real-life JavaScript library"
          />
     <page key="rest-api"
      title="Implementing a REST API"
      src="https://raw.githubusercontent.com/intellifactory/websharper/websharper4/docs/rest-tutorial.md"
      description="Learn how to implement a REST API
               with Sitelets" />
     <page key="livedata"
      title="LiveData mini-chat"
      src="https://raw.githubusercontent.com/intellifactory/websharper/websharper4/docs/LiveData-tutorial.md"
      description="Implement a MongoDB-backed mini chat application" />
  </section>
</folder>
